<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Index template which will display each on content depending on which page the user is heading to.-->
    


    <% if (title=="Home") { %>

    <h1><%= title %></h1>

    <div id="splash">
        <img src="\Assets\images\NeverLoseURconnections_logo.png">


        <h2> Never again lose touch. </h2>  

        <p> click here to get started. </p>


         <a href="/bookslist/add" class="btn btn-primary" role="button">
            Get Started
        </a>

    </div>


        




    <% } if (title=="About us") { %>

    <h1><%= title %></h1>

     <p>NeverLoseURConnections is a powerful and intuitive web application designed to help you effortlessly manage and organize your contacts. 
     Whether you're looking to maintain professional networks or stay connected with friends and family, our platform makes it easy to store, update, and access contact information. 
     With user-friendly features and seamless CRUD functionality, 
     NeverLoseURConnections ensures you’ll never lose touch with the people who matter most.
     </p>

     <h3> The Developer </h3>
     <p> This web application was developed by Omar Elanany, a second-year Networking & IT security Student.
     For more information about him please visit: <a href="https://omare14.github.io/assignment-1/about.html" target="_blank"> OmarElanany.com  </a> </p>


    <% } %>    


    <%  if (title=="Current Contacts") { %>


        <h1><%= title %></h1>
        


<table> 

    <tr>

        <th class="text-center col-2"> Name</th>
        <th class="text-center col-2"> Phone Number</th>
        <th class="text-center col-2"> Email</th>
        <th class="text-center col-7"> Notes </th>
    
    </tr>

      <% for(let count = 0; count <BookList.length; count++) { %>
            <tr>
                <td class="text-center col-2"><%= BookList[count].Name %></td>
                <td class="text-center col-2"><%= BookList[count].PhoneNumber %></td>
                <td class="text-center col-2"><%= BookList[count].Email %></td>
                <td class="text-center col-7"><%= BookList[count].Notes %></td>
               
            
            </tr>
    <% } %>
     
     
     
     
     
     
</table>











    <% } %>





    
<%- include Partials/footer.ejs%>